@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap");
.head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  color: #586060;
  /* padding-bottom: 15px; */
}

.backDrop {
  background: #f5f5f5;
  border-radius: 0 18px 18px 18px;
  padding: 20px;
  z-index: 9;
  margin-bottom: 0.7rem !important;
}

.headLine {
  color: #586060;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.headLine > input {
  padding: 0.3rem 0 0.3rem 0.5rem;
  border-radius: 6px;
}

.Icon {
  color: black;
  font-size: 18px;
}

.links {
  background-color: #ffffff;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 15px;
  height: 35px;
  padding-top: 5px;
}

.Rule {
  width: 100%;
  border: 1px solid #989898;
}

.inputF {
  color: #989898;
  width: 100%;
  border: none;
}

.inputF:focus {
  outline: none;
}

.inputE {
  color: #586060 !important;
  transform: translateY(-8px);
  font-weight: 500;
}

.trans {
  transform: translateY(-8px);
}

.Delete:hover {
  cursor: pointer;
}

.hrCSS {
  border: 1px solid #000000;
}

.AddCSS {
  transform: translateY(-100%) translateX(2400%);
}

.Arrow {
  display: inline-flex;
}

.ArrowBtn {
  padding-right: 10px;
}

.Drag {
  background: #586060;
  border-radius: 14.5px 0px 0px 14.5px;
  width: 35px;
  height: 29px;
  transform: translateX(-100%) translateY(+110%);
}

.dragArrow {
  width: 15px;
  height: 15px;
  transform: translateX(80%);
}

.submitbtn,
.submitbtn:hover,
.submitbtn:focus {
  background-color: #8750a9;
  font-weight: 700;
  margin-top: 2em;
  border-radius: 2em;
  border: none;
  font-size: 1.2em;
  padding: 0.2rem 1.3rem 0.2rem 1.3rem;
}

.addbtn,
.addbtn:focus,
.addbtn:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
  flex: 1;
  color: #000000;
}

.addelement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.addelement > .hrCSS {
  width: 100%;
  flex: 2;
}

.addtopicbtw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1rem;
}

.addtopicbtw > .divider {
  width: 95%;
  border: 1px solid #989898;
}

.addtopicbtw > .add__round {
  margin-left: 19px;
  width: 5%;
  background: #989898;
  border-radius: 18.5px 18.5px 0px 18.5px;
  transform: rotate(135deg);
  height: 24.4px;
}
