@media screen and (max-width: 750px) {
}

.modal-header > .modal-title {
  flex: 1;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
}

.modal-header > button {
  border: none;
  background: none;
}

.modal-header {
  border: 0;
}

.modal-content {
  background: #ececec;
  border-radius: 16px;
}
