.Icon {
    color: #586060;
    animation: Visible 1s;
}

@keyframes Visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.font {
    font-size: 24px !important;
}

.heading {
    color: #586060;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
}

.Edit {
    color: #8750A9;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.Edit:hover {
    cursor: pointer;
}

.SubHeading {
    color: #989898;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

.Display {
    display: none;
}

.box-skill-blue {
    background: #2C91B0;
    border-radius: 9px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 3px 7px 3px 7px;
}

.box-skill-red {
    background: #D74646;
    border-radius: 9px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 3px 7px 3px 7px;
}

.box-skill-blueD {
    margin-right: 10px;
    background: #4248D2;
    border-radius: 9px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 3px 7px 3px 7px;
}

.box {
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 0px 7px 1px 7px;
    margin-right: 10px;
}

.backDrop {
    background-color: #F5F5F5;
    padding: 20px;
}

.heading-txt {
    color: #586060;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.text-sub {
    color: #989898;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.ArrowDown {
    transform: rotate(-90deg) translateX(5px);
    transition: ease-in 1s;
}

.StyleArrow {
    font-size: 15px;
    color: #586060;
}

.ArrowUp {
    transform: rotate(+90deg) translateX(5px);
    transition: ease-in 1s;
}

.backDrop-1 {
    padding: 10px;
    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 4px;
}

.Link-txt {
    color: #989898;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-top: 1px !important;
}

.CopyIcon {
    color: #586060;
}

@keyframes Display {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.panel {
    transform: translateY(-100%);
    transition: ease-in 0.6s;
    animation: Display 0.6s;
    display: none;
}