@media screen and (max-width: 750px) {
  .lower__footer {
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw !important;
  }
  .About {
    margin-left: 0 !important;
    margin-top: 12px;
  }
  .footer__divider {
    transform: rotate(0deg) !important;
    width: 60% !important;
    margin-left: 0 !important;
    margin-top: 26px;
  }
  .follow {
    display: flex;
    flex-direction: column;
  }
  .follow > .Follow {
    margin-bottom: 11px;
    margin-top: 21px;
  }
  .follow > .handles {
    margin-left: -10px !important;
  }
}
.lower__footer {
  position: relative;
  width: 100vw;
  height: 111px;
  left: 0px;
  bottom: 0;
  top: 252px;
  background: #262929;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 98px;
  height: 20px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #ededed;
}

.About {
  width: 58px;
  height: 20px;
  margin-left: 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;

  color: #ededed;
}

.footer__divider {
  position: relative;
  width: 65px;
  height: 0px;
  margin-left: 44px;

  border: 1px solid #989898;
  transform: rotate(90deg);
}

.follow {
  display: flex;
  align-items: center;
}

.follow > .Follow {
  width: 115px;
  height: 20px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;

  color: #989898;
}

.follow > .handles {
  margin-left: 50px;
}

.follow > .handles > .twitter {
  margin-right: 8px;
}
.follow > .handles > .insta {
  margin-right: 10px;
}
.follow > .handles > .linkedin {
  margin-right: 10px;
}
