@media screen and (max-width: 1400px) {
  .lower__footer {
    margin-top: -2rem;
  }
}
@media screen and (max-width: 650px) {
  .lower__footer {
    min-height: 12.813rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw !important;
    top: 0 !important;
  }
  .contact {
    margin-left: 0 !important;
  }
  .About {
    margin-left: 0 !important;
    margin-top: 0.75rem;
  }
  .footer__divider {
    transform: rotate(0deg) !important;
    width: 60% !important;
    margin-left: 0 !important;
    margin-top: 1.625rem;
  }
  .follow > .Follow {
    margin-bottom: 0.9rem;
    margin-top: 0.45rem;
    margin-left: 0 !important;
  }
  .follow {
    display: flex;
    flex-direction: row;
  }
  .follow > .handles {
    margin-left: 0 !important;
    margin-top: -0.4rem;
  }
  .handles > a > .linkedin {
    height: 1rem;
    margin-right: 0.1rem !important;
  }
  .handles > a > .insta {
    height: 1rem;
    margin-right: 0.1rem !important;
  }
  .handles > a > .facebook {
    height: 1rem;
  }
  .handles > a > .twitter {
    height: 1rem;
    margin-right: 0.1rem !important;
  }
}
.lower__footer {
  position: relative;
  width: 100vw;
  height: 6.938rem;
  left: 0;
  bottom: 0;
  top: 15.5rem;
  background: #262929;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
.contact {
  width: 6.125rem;
  height: 1.25rem;
  margin-left: 2rem;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 1.563rem;
  color: #ededed;
}

.About {
  width: 3.625rem;
  height: 1.25rem;
  margin-left: 1.875rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 1.563rem;

  color: #ededed;
}

.footer__divider {
  position: relative;
  width: 4.063rem;
  height: 0;
  margin-left: 0.75rem;

  border: 1px solid #989898;
  transform: rotate(90deg);
}

.follow {
  display: flex;
  align-items: center;
}

.follow > .Follow {
  width: 7.188rem;
  height: 1.25rem;
  margin-left: 0.75rem;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 1.563rem;

  color: #989898;
}

.follow > .handles {
  margin-left: 0.4rem;
}

.follow > .handles > a > .twitter {
  margin-right: 0.5rem;
}
.follow > .handles > a > .insta {
  margin-right: 0.5rem;
}
.follow > .handles > a > .linkedin {
  margin-right: 0.5rem;
}
