.headingRow {
    color: #586060;
    font-weight: 600;
   
}

.spacebetween {
    justify-content: space-between;
}





@media screen and (max-width: 4400px) {

    .headingRow {
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 15%;
         display: flex;
       
    }

    .backarrow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 1vh;
        padding-right: 2vw;
    }

    .formgroup {
        padding-top: 0em;
    }
    
}

@media screen and (max-width: 750px) {

    .headingRow {
        padding-top: 20%;
        display: flex;
        padding-left: 5vh;
        padding-right: 5vh;
        padding-bottom: 10vh;
        flex-direction: column;
    }
    .backarrow {
        display: block;
        padding-top: 1vh;
        padding-bottom: 2vh;
        padding-right: 2vw;
    }

    .formgroup {
        padding-top: 1em;
        
    }
    
}