.SideBar {
    border: 2px solid #E3E3E3;
    border-width: 0 2px 0px 0px;
    height: 100%;
    position:fixed;
    /* left: 100px; */
    /* width: 245px; */
    padding-top: 300px;

}

.Spacing {
    margin-top: 100px;
}