@media screen and (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }
  .show__components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13rem !important;
  }

  .stack2 {
    margin-top: 150px;
  }

  .component__divider2 {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  .show__components {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem !important;
  }
  .stack1 > .component__divider {
    display: none;
  }
  .stack2 > .component__divider3 {
    display: none;
  }
  .stack1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stack2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aid__component {
    margin-bottom: -0.5rem !important;
  }
  .aid__component > .icon {
    height: 50px;
  }
  .aid__component > .heading {
    font-size: 1.2rem !important;
    margin-top: 0.8rem !important;
  }
  .aid__component > .description {
    font-size: 1.1rem !important;
    width: 15.5rem !important;
    margin-top: 0.2rem !important;
  }
  .bite__component {
    margin-top: -3.8rem;
    margin-bottom: -6rem;
    min-width: 100vw;
    min-height: 18rem;
    background: #f5f5f5;
    justify-content: center;
  }
  .bite__component > .icons > .icon {
    height: 50px;
    margin-right: 0rem !important;
  }
  .bite__component > .icons > .icon2 {
    margin-left: -0.3rem !important;
    height: 45px;
  }
  .bite__component > .heading {
    font-size: 1.2rem !important;
    margin-top: 0.8rem !important;
  }
  .bite__component > .description {
    font-size: 1.1rem !important;
    width: 14.5rem !important;
    margin-top: 0.2rem !important;
  }
  .roadmaps__component {
    margin-bottom: -11.5rem !important;
  }
  .roadmaps__component > .icons {
    height: 50px;
    margin-top: -1rem;
  }
  .roadmaps__component > .heading {
    font-size: 1.2rem !important;
    margin-top: 0.8rem !important;
  }
  .roadmaps__component > .description {
    font-size: 1.1rem !important;
    width: 15.5rem !important;
    margin-top: 0.2rem !important;
  }
  .progress__component {
    min-width: 100vw;
    background: #f5f5f5;
    justify-content: center;
    margin-top: 6.25rem;
  }
  .progress__component > .icon > .icons {
    height: 50px !important;
    margin-top: -1rem;
  }
  .progress__component > .icon > .icon2 {
    height: 50px !important;
    margin-top: -1rem;
  }
  .progress__component > .icon {
    margin-top: -1.6rem;
  }
  .progress__component > .heading {
    font-size: 1.2rem !important;
    margin-top: 0.8rem !important;
  }
  .progress__component > .description {
    font-size: 1.1rem !important;
    width: 15.5rem !important;
    margin-top: 0.2rem !important;
  }
  .breaker {
    display: none;
  }
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breaker {
  width: 90%;
  height: 0;
  border: 1px solid #c5c5c5;
  z-index: -1;
}

.show__components {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13.25rem;
}

.stack1 {
  display: flex;
}
.stack2 {
  display: flex;
}

.stack1 > .aid__component {
  width: 17.938rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aid__component > .heading {
  margin-top: 2.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.aid__component > .description {
  margin-top: 2.25rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.312rem;
  line-height: 2.313rem;
  color: #586060;
  text-align: center;
  width: 18.875rem;
}

.stack1 > .component__divider {
  position: relative;
  width: 12.875rem;
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: 6.25rem;
  height: 0;
  border: 1px solid #989898;
  transform: rotate(90deg);
  z-index: -1;
}
.component__divider2 {
  position: relative;
  min-width: 12.875rem;
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: -4.688rem;
  height: 0;
  border: 1px solid #989898;
  transform: rotate(90deg);
  z-index: -1;
}
.stack2 > .component__divider3 {
  position: relative;
  width: 12.875rem;
  height: 0;
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: 6.25rem;
  border: 1px solid #989898;
  transform: rotate(90deg);
  z-index: -1;
}

.bite__component > .icons > .icon {
  margin-right: 0.938rem;
}
.bite__component > .icons > .icon2 {
  margin-top: 0.303rem;
}

.stack1 > .bite__component {
  width: 17.938rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bite__component > .heading {
  margin-top: 2.16rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.bite__component > .description {
  margin-top: 2.25rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.312rem;
  line-height: 2.313rem;
  color: #586060;
  text-align: center;
  width: 17.75rem;
}

.stack2 > .roadmaps__component {
  width: 17.938rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmaps__component > .heading {
  margin-top: 2.525rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.roadmaps__component > .description {
  margin-top: 2.25rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.312rem;
  line-height: 2.313rem;
  color: #586060;
  text-align: center;
  width: 18.875rem;
}
.stack2 > .progress__component {
  width: 17.938rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__component > .icon > .icon2 {
  position: relative;
  left: -2.2rem;
  top: -0.25rem;
}

.progress__component > .heading {
  margin-top: 2.473rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.progress__component > .description {
  margin-top: 2.25rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.312rem;
  line-height: 2.313rem;
  color: #586060;
  text-align: center;
  width: 16.75rem;
}
