.skillContainer {
    width: 100%;
    color: #586060;
}

.tagContainer {
    padding: 2% 0 2%;
}

.tagContainer > h5 {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #989898 ;
}
h3.skillName {
    display: flex;
align-items: center;
font-weight: 600;
font-size: 1.5rem;
line-height: 2em;
color: #586060;
}


.tags {
    border-radius: .7em;
    border: 1px solid #7A7A7A;
    margin-right: 2em;
    padding: .1em .9em .2em;
    font-weight: 500;
    color: #424242;
    font-size: small;
}

.colorTags {
    border-radius: .7em;
    margin-right: 2em;
    padding: .1em .9em .2em;
    color: #FFFFFF;
    font-weight: 500;
    font-size: small;
    background-color: #2C91B0;
}


@media screen and (max-width: 4400px) {

    .headingRow {
        padding-top: 10%;
        padding-left: 15vh;
        padding-right: 30vh;
         display: flex;
       
    }

    .backarrow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 1vh;
        padding-right: 2vw;
    }

    .addbutton {
        background: #FFFFFF;
    border: 1px solid #8750A9;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) ;
    border-radius: 2rem;
    text-align: center;
    color: #8750A9;
    font-weight: 600;
      padding: .3em 1.5rem .3rem;  
    }

}

@media screen and (max-width: 750px) {

    .headingRow {
        padding-top: 20%;
        display: flex;
        padding-left: 5vh;
        padding-right: 5vh;
        padding-bottom: 10vh;
        flex-direction: column;
    }
    .backarrow {
        display: block;
        padding-top: 1vh;
        padding-bottom: 2vh;
        padding-right: 2vw;
        color: #586060;
    }

    .addbutton {
    background: #FFFFFF;
    border: 3px solid #8750A9;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) ;
    border-radius: 100%;
    color: #8750A9;
    padding: .31em;
    }
    
}