.skillCard {
    background-color:#F5F5F5;
    border-radius: 18px;
    padding: 3vh 10vh 3vh;
}

.links {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: .1em 0 .1em;
    border-radius: .4rem;
    overflow: hidden;
}

.description {
    padding-top: 1.5em ;
}

