.skillCard {
    background-color:#F5F5F5;
    border-radius: 18px;
    padding: 3vh 6vh 3vh;
    margin: 4% 0% 8%;
   
}

.links {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: .1em 0 .1em;
    border-radius: .4rem;
    overflow: hidden;
    justify-content: space-between;
}

.description {
    padding-top: 1.5em ;
}


.copyButtonCol {
    padding: 0;
    text-align-last: end;
 }
/* 
 .editRow {
    position: absolute;
        left: 0;
        right: 0;
     height: 100px;
     top: 30px; 
    
 */