.body {
  background-color: #8750a9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 604px;
  height: 289px;
  background: #ffffff;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 758px) {
  .card {
    width: 90% !important;
    height: 200px !important;
  }

  .card > h1 {
    font-size: 20px !important;
  }

  .card > button {
    width: 85% !important;
    height: 42px !important;
  }

  .card > button > p {
    font-size: 16px !important;
    line-height: normal !important;
  }

  .googleImg {
    width: 30px !important;
    height: 30px !important;
  }
}

.card > h1 {
  font-weight: 600;
  font-size: 29px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #586060;
  margin-bottom: 30px;
}

.card > button {
  border: 1px solid #989898;
  box-sizing: border-box;
  border-radius: 15px 15px;
  width: 383.37px;
  height: 53.49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.card > button > p {
  width: 90%;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #586060;
}

.googleImg {
  width: 40px;
  height: 40px;
}
